@import 'generic/_vars';
@import 'generic/_mixins';
@import '../imports/ui/components/core/core';

* {
	box-sizing: border-box;
	font-family: $Avenir;
}

body, html{
	background-color : $light-gray !important;
	color: white !important;
}

