@import 'generic/_vars';
@import 'generic/_mixins';
@import '../imports/ui/components/core/core';

* {
	box-sizing: border-box;
	font-family: $Avenir;
}

body, html{
	background-color : $light-gray !important;
	color: white !important;
}

div.admin-view-facade{
	position: relative;
	div.views-container{
		width: calc(100% - #{$navigation-width});
		position: relative;
		top: $header-height;
		left: $navigation-width;
		padding: $margin;
	}
}