<section id="popup-item-selector">
	<article>
		<div class="message">{{popupItemSelector.message}}</div>
		<span class="lnr lnr-cross" ng-click="popupItemSelector.close([])"></span>
		<div class="items-container">
			<div class="item" 
			ng-click="popupItemSelector.selectItem(item._id)"
			ng-class="{'selected' : popupItemSelector.itemsSelected.includes(item._id)}"
			ng-repeat="item in popupItemSelector.items | startFrom:popupItemSelector.page*popupItemSelector.perPage | limitTo:popupItemSelector.perPage">
				{{item.metaData.name}}
			</div>
		</div>
		<div class="pagination" ng-if="popupItemSelector.perPage < popupItemSelector.items.length">
			<span class="lnr lnr-chevron-left" ng-click="popupItemSelector.changePage(-1)"></span>
			<span class="actual-page" >{{popupItemSelector.page + 1}} /</span>
			<span class="total-pages">{{popupItemSelector.items.length / popupItemSelector.perPage | roundUp}}</span>
			<span class="lnr lnr-chevron-right" ng-click="popupItemSelector.changePage(1)"></span>
		</div>
		<div class="response">
			<a class="accept" 
			   ng-click="popupItemSelector.close()">Done</a>
			<a class="reject" 
			   ng-click="popupItemSelector.close([])">Cancel</a>
		</div>
	</article>

	<div class="shape" ng-click="popupItemSelector.close([])"></div>
</section>