@import '_mixins';
//tipo
@font-face {
    font-family: Avenir;
    src: url('fonts/Avenir.eot'); /* IE9 Compat Modes */
    src: url('fonts/Avenir.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/Avenir.woff') format('woff'), /* Pretty Modern Browsers */
         url('fonts/Avenir.ttf')  format('truetype'), /* Safari, Android, iOS */
}
$Avenir : Avenir, sans-serif;
//media queries
$mobile-v : '(max-width : 960px) and (max-height : 500px) and (min-width : 450px) and (min-height: 280px)';
$xs    : '(max-width: 599px)';
$gt-xs : '(min-width: 600px)';
$sm    : '(min-width: 600px) and (max-width: 959px)';
$gt-sm : '(min-width: 960px)';
$md    : '(min-width: 960px) and (max-width: 1279px)';
$gt-md : '(min-width: 1280px)';
$lg    : '(min-width: 1280px) and (max-width: 1919px)';
$gt-lg : '(min-width: 1920px)';
$xl    : '(min-width: 1920px)';
//usage: @media #{$gt-sm} 

// transition
$transition : ease-in 0.2s;
$transition-long : ease-in-out 0.4s;
$transition-angular : cubic-bezier(.25,.8,.25,1) 0.4s; 

//MARGINS
$margin: 20px;
$header-height: 50px;
$navigation-width: 200px;
//COLORS
$black: #323232;
$gray: #595959;
$light-gray: #747474;
$dark-emerald: #57a69e;
$emerald: #76b3ae;
$light-emerald: #97c4c1;
$red: #c33f41; 

//Shadows
$shadow : 0px 2px 4px 0px rgba(50,50,50,0.2);
$shadow-blur : 0px 0px 25px 0px rgba(50,50,50,50.75);
$shadow-dataviz : 0px 4px 4px 0px rgba(50,50,50,0.2);

/**********
Animations
**********/

//Loading angular
@-webkit-keyframes rotating{
  from {
    @include transform(rotate(0deg));
  }
  to {
    @include transform(rotate(360deg));
  }
}
@keyframes rotating {
  from {
    @include transform(rotate(0deg));
  }
  to {
    @include transform(rotate(360deg));
  }
}

.infinite-rotation {
  @include animate(rotating 2s linear infinite);
}

//inputs
md-input-container{
    label{color: white;}
    input{
        color:white;
        border-bottom: 1px solid white;
    }
  .md-input-has-value{
    label{color: $dark-emerald;}
    input{border-bottom: 1px solid $dark-emerald;}
  }
}

//buttons
@mixin btn-main($color){
  background-color: $dark-emerald;
  color: $color;
  border: 1px solid $dark-emerald;
  padding: 0.8em 1.8em;
  font-size: 10px;
  cursor: pointer;
  @include transition(all $transition);
  @media #{$gt-sm}{
    &:hover{
      background-color: transparent;
      color: $dark-emerald;
    }
  }
}

//error text
.error-cms{
  color: $red;
  background-color: rgba(195, 63, 65, 0.1);;
  border-left: 5px solid $red;
  padding: 0.5em;
  text-align: left;
}

//icons
@mixin icon-btn($color, $hover-color){
  font-size: 20px;
  color: $color;
  cursor: pointer;
  @include transition(all $transition);
  @media #{$gt-sm}{
    &:hover{
      color: $hover-color;
    }
  }
}





