<section class="parent-page-container" layout="row" layout-wrap ui-sortable 
	ng-model="pageEditor.layouts"
	ng-class="{'contract-layouts' : pageEditor.contractLayouts}">
	<div class="parent-name">{{pageEditor.name || 'Page'}}</div>
	<div class="new-elements">
		<span ng-click="pageEditor.addLayout()" class="lnr lnr-layers"></span>
		<span ng-click="pageEditor.addNewLayout()" class="lnr lnr-layers add-layout">
			<span>+</span>
		</span>
	</div>
	<div class="options">
		<span class="lnr lnr-lock" 
			ng-if="!pageEditor.contractLayouts" 
			ng-click="pageEditor.contractLayouts = true"></span>
		<span class="lnr lnr-frame-expand" 
			ng-if="pageEditor.contractLayouts" 
			ng-click="pageEditor.contractLayouts = false"></span>
		<span class="lnr lnr-cloud-upload" ng-click="pageEditor.save();"></span>
		<span class="lnr lnr-magic-wand" ng-click="pageEditor.css.openCssEditor($event, pageEditor.pageContainer);"></span>
		<span class="lnr lnr-trash" ng-click="pageEditor.delete();"></span>
	</div>
	<div class="children-page-container" flex="100"
		ng-repeat="layout in pageEditor.layouts track by $index"
		ng-class="{'contract-layout' : !pageEditor.contractLayout[layout.class]}">
		<div class="layout-name">{{layout.metaData.name}}</div>
		<div class="layout-options">
			<span class="lnr lnr-frame-expand" 
				ng-if="!pageEditor.contractLayout[layout.class] && !pageEditor.contractLayouts" 
				ng-click="pageEditor.contractLayout[layout.class] = true"></span>
			<span class="lnr lnr-frame-contract" 
				ng-if="pageEditor.contractLayout[layout.class] && !pageEditor.contractLayouts" 
				ng-click="pageEditor.contractLayout[layout.class] = false"></span>
			<span ng-click="pageEditor.removeLayout($index)" class="lnr lnr-cross"></span>
		</div>
		<layout-editor layout-id="layout._id" name="layout.metaData.name" options="{save: true, changeName : true}"></layout-editor>
	</div>
</section>
