resume{
	page-resume,
	post-resume,
	section-resume,
	layout-resume,
	media-resume{
		width: 100%;
		float: left;
		margin-bottom: $margin;
		@include transition(all $transition-long);
		@media #{$gt-sm}{
			width: 50%;
			&:nth-child(even){padding-left: $margin / 2}
			&:nth-child(odd){padding-right: $margin / 2}
		}
	}
}
