header-options{
	header{
		height: $header-height;
		width: 100%;
		background-color: $gray;
		position: fixed;
		top:0px; left: 0px;
		@include box-shadow($navigation-width + 1 0px 15px 0px rgba(50,50,50,50.75));
		z-index: 2;
		section.logo{
			width: 200px;
			float: left;
			text-align: center;
			cursor: pointer;
			h1{
				margin: 0px;
				font-size: 20px;
				line-height: $header-height;
				span.lnr{
					margin-right: 5px;
					color: $dark-emerald;
					position: relative;
					top: 2px;
					@include transition(all $transition);
				}					
				@media #{$gt-sm}{
					&:hover{
						span.lnr{
							color: white;
							@include text-shadow($text-shadow-orange);
						}
					}					
				}
			}
		}
		section.options{
			width: calc(100% - 200px);
			float: left;
			line-height: $header-height + 10;
			height: $header-height;
			text-align: right;
			padding-right: $margin;
			span.lnr{
				@include icon-btn($dark-emerald, white);
				display: inline-block;
				width: 50px;
				text-align: center;
			}
		}
	}
}