@import 'plainText/plainText';
@import 'headerText/headerText';
@import 'mediaContainer/mediaContainer';

children-layout{
	div[text-angular]{
		.btn{
			background-color: $black; 
			border: 1px solid $dark-emerald;
			color: white;
			margin-bottom: 5px;
		}	

		.ta-bind{
			background-color: $black; 
			border: 1px solid $dark-emerald;
			color: white;
		}
	}
	.ta-root{
		.ta-scroll-window{
			.ta-bind{min-height: 150px;}
			.form-control{
				border: 0px solid #57a69e;
	    		border-radius: 0px;
	    		min-height: 150px;
			}
		}
		&.focussed{
			.ta-scroll-window.form-control{
				border-color: $dark-emerald;
				@include box-shadow(
					inset 0 1px 1px rgba(0, 0, 0, 0.075), 
					0px 0px 5px 0px rgba(87, 166, 158, 0.8)
				);
			}	
		}
	}	
	.ta-editor.ta-html, .ta-scroll-window.form-control{
		min-height: 150px;
	}
	.form-control{
		border: transparent;
		margin-bottom: $margin + 5;
	}
}



