<section class="general-info">
	<article class="title">
		<md-input-container flex>
			<label for="layoutName">Identification name</label>
	  		<input id="layoutName" type="text" ng-model="layoutCreation.layoutName"/>
		</md-input-container>
	</article>
	<article class="type">
		<div class="explanation">Choose the use you will give to your layout:</div>
		<span class="tag" 
			ng-class="{'active' : layoutCreation.layoutType == 'header'}"
			ng-click="layoutCreation.layoutType = 'header'">Header</span>
		<span class="tag" 
			ng-class="{'active' : layoutCreation.layoutType == 'footer'}"
			ng-click="layoutCreation.layoutType = 'footer'">Footer</span>
		<span class="tag" 
			ng-class="{'active' : layoutCreation.layoutType == 'other'}"
			ng-click="layoutCreation.layoutType = 'other'">Other</span>
	</article>
	<article class="layout-state">
		<layout-editor name="layoutCreation.layoutName"></layout-editor>
	</article>
</section>

