<section class="layout-resume-container">
	<header>Layouts <span class="lnr lnr-file-add"></span></header>
	<article>
		<ul>
			<li ng-repeat="layout in layoutResume.layouts">
				<span class="name">{{layout.name}}</span>
				<span class="lnr lnr-trash delete"></span>
				<span class="lnr lnr-pencil edit"></span>
			</li>
		</ul>
	</article>
	<nav>
		<div class="filter-by">
			<span class="tag" 
				ng-class="{'active' : layoutResume.filterBy == 'header'}"
				ng-click="layoutResume.setFilter('header')">Headers</span>
			<span class="tag" 
				ng-class="{'active' : layoutResume.filterBy == 'footer'}"
				ng-click="layoutResume.setFilter('footer')">Footers</span>
			<span class="tag" 
				ng-class="{'active' : layoutResume.filterBy == 'other'}"
				ng-click="layoutResume.setFilter('other')">Others</span>
		</div>
		<div class="pagination">
			<span class="lnr lnr-chevron-left"></span>
			<span class="actual-page">{{layoutResume.page}} /</span>
			<span class="total-pages">{{layoutResume.totalPages}}</span>
			<span class="lnr lnr-chevron-right"></span>
		</div>
	</nav>
</section>