<section class="media-resume-container">
	<header>Media <span class="lnr lnr-file-add"></span></header>
	<article>
		<div class="medias">
			<div class="media" ng-repeat="media in mediaResume.medias">
				<img ng-src="{{media.src}}" alt="{{media.name}}">
				<div class="shape"><span class="lnr lnr-eye"></span></div>
			</div>
		</div>
	</article>
	<nav>
		<div class="pagination">
			<span class="lnr lnr-chevron-left"></span>
			<span class="lnr lnr-chevron-right"></span>
		</div>
	</nav>
</section>