css-manager{
	section{
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-color: rgba(50, 50, 50, 0.7);
		opacity: 0;
		pointer-events: none;
		z-index: 5;
		@include transition(all $transition);
		article.container{
			position: absolute;
			top: 55%; left: 50%;
			width: 550px;
			min-height: 20%;
			max-height: 80%;
			overflow-y: scroll; 
			background-color: $light-gray;
			padding: $margin;
			z-index: 7;
			@include transform(translate(-50%, -50%));
			@include box-shadow($shadow-blur-green);
			@include transition(all $transition);
			span.lnr{
				position: absolute;
				top: $margin;
				right: $margin;
				@include icon-btn($dark-emerald, white);
				&.lnr-cloud-upload{
					right: $margin*2 + 10px;
				}
			}
			div.input-properties{
				@extend md-input-container;
				label{margin-bottom: 0px !important;}
				div.md-errors-spacer{display: none;}
				button{
					@include btn-mix(white);
					font-size: 12px;
					margin-bottom: $margin;
				}
			}
			div.property{
				margin-left: $margin;
				position: relative;
				span.lnr{
					@include icon-btn(white, $dark-emerald);
					position: absolute;
					right: calc(100% + 5px); top: 50%;
					font-size: 14px;
					opacity: 0;
					@include transform(translateY(-50%));
				}
				&:hover{
					span.lnr{opacity: 1;}
				}
			}
		}
		div.shape{
			position: absolute;
			top:0; left:0; 
			width: 100%; height: 100%;
			z-index: 6;
		}
		&.active{
			pointer-events: all;
			opacity: 1;
			article{
				top: 50%;
			}
		}
	}
}