<section class="section-resume-container">
	<header>Sections <span class="lnr lnr-file-add"></span></header>
	<article>
		<ul>
			<li ng-repeat="section in sectionResume.sections">
				<span class="name">{{section.name}}</span>
				<span class="lnr lnr-trash delete"></span>
				<span class="lnr lnr-pencil edit"></span>
			</li>
		</ul>
	</article>
	<nav>
		<div class="pagination">
			<span class="lnr lnr-chevron-left"></span>
			<span class="actual-page">{{sectionResume.page}} /</span>
			<span class="total-pages">{{sectionResume.totalPages}}</span>
			<span class="lnr lnr-chevron-right"></span>
		</div>
	</nav>
</section>