<section class="parent-layout-container" layout="row" layout-wrap ui-sortable ng-model="layoutEditor.layoutContainer.html">
	<div class="parent-name">
		<span ng-if="!layoutEditor.options.changeName || !layoutEditor.editingName">{{layoutEditor.name || 'Layout Parent'}}</span>
		<input type="text" ng-model="layoutEditor.name"  ng-if="layoutEditor.editingName">
		<span class="lnr" 
			ng-if="layoutEditor.options.changeName" 
			ng-click="layoutEditor.editingName = !layoutEditor.editingName"
			ng-class="(layoutEditor.editingName) ? 'lnr-checkmark-circle' : 'lnr-pencil'"></span>
	</div>
	<div class="new-elements">
		<span ng-click="layoutEditor.addChildren('plainText')" class="lnr lnr-text-align-justify"></span>
		<span ng-click="layoutEditor.addChildren('headerText')" class="lnr lnr-bold"></span>
		<span ng-click="layoutEditor.addChildren('mediaContainer')" class="lnr lnr-picture"></span>
	</div>
	<div class="options">
		<span class="lnr lnr-cloud-upload" ng-if="layoutEditor.options.save" ng-click="layoutEditor.save();"></span>
		<span class="lnr lnr-magic-wand" ng-click="layoutEditor.css.openCssEditor($event, layoutEditor.layoutContainer);"></span>
		<span class="lnr lnr-trash" ng-if="layoutEditor.options.delete" ng-click="layoutEditor.delete();"></span>
	</div>
	<div class="children-layout-container" 
		ng-repeat="children in layoutEditor.layoutContainer.html track by $index"
		flex="{{children.flex}}">
		<div class="children-type">{{children.type}}</div>
		<div class="width-controller">
			<span class="lnr down" 
				ng-click="children.flex = (children.flex < 30) ? 20 : (children.flex - 10)">–</span>
			<span class="ratio">{{children.flex}} / 100</span>
			<span class="lnr up" 
				ng-click="children.flex = (children.flex < 100) ? (children.flex + 10) : 100">+</span>
		</div>
		<div class="options">
			<span ng-click="layoutEditor.css.openCssEditor($event, children);" class="lnr lnr-magic-wand"></span>
			<span ng-click="layoutEditor.removeChildren($index)" class="lnr lnr-trash"></span>
		</div>
		<children-layout meta-data="children"></children-layout>
	</div>
</section>

